.welcome-message-area{
    background-image: url("../assets/kevin-alumni-panel copy.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.welcome-message-item{
    border-width: thin;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 35%;
}

.inner-welcome-message-area{
    border-width: thin;
    border-color: white;
}

h4.message-title{
    font-size: 24px;
    font-family: "Times New Roman", Times, serif;
    text-align: left;
}

h2.message{
    font-size: 44px;
    font-family: Verdana, Geneva, sans-serif;
    text-align: left;
}

.bio-message-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.bio-message {
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
    color: #929292;
    text-align: center;
    justify-content: center;
    font-size: larger;
    width: 50%;
}

.bio-message a{
    color: #435992;
}

.about-area{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 40px 0;
    background-color: #d6d6d6;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
}

.about-area h2{
    color: rgb(122, 122, 122);
    text-align: center;
    font-size: 30px;
    font-family: Noto Sans Old Italic, serif;
    padding-bottom: 10px;
}

.icon-area{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon{
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    align-items: center;
    width: 130px;
}

.icon img{
    height: 125px;
    width: 125px;
}

.icon-area h6{
    font-size: 22px;
}



